@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DePixelHalbfett';
    src: url('./font/DePixelHalbfett.ttf') format('truetype');
}

.f-game {
    font-family: 'DePixelHalbfett';
}